<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="com/nomwork/mybatis/db.properties"></properties>

	<typeAliases>
		<typeAlias type="com.nomwork.user.dto.UserDto" alias="UserDto" />
		<typeAlias type="com.nomwork.project.dto.ProjectDto" alias="ProjectDto" />
		<typeAlias type="com.nomwork.project.dto.Project_CreateDto" alias="Project_CreateDto" />
		<typeAlias type="com.nomwork.channel.dto.ChannelDto" alias="ChannelDto"/>
		<typeAlias type="com.nomwork.channel.dto.Channel_CreateDto" alias="Channel_CreateDto"/>
		<typeAlias type="com.nomwork.text.dto.TextDto" alias="TextDto"/>
		<typeAlias type="com.nomwork.map.dto.MapDto" alias="MapDto"/>
		<typeAlias type="com.nomwork.board.dto.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.nomwork.file.dto.FileDto" alias="FileDto"/>
		<typeAlias type="com.nomwork.todo.dto.TodoDto" alias="TodoDto"/>
		<typeAlias type="com.nomwork.canvas.dto.CanvasDto" alias="CanvasDto"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/nomwork/mybatis/mapper.xml" />
	</mappers>


</configuration>
