
@import
	url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800')
	;

@import
	url('//cdn.jsdelivr.net/korean-webfonts/1/corps/google/NotoSansKR/NotoSansKR.css')
	;

html, body {
	color: #393939;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

::-webkit-scrollbar-button {
	height: 0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/*sidebars adjustment*/
a {
	text-decoration: none;
}

.topsidebar {
	height: 70px;
	z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #3c3c3c;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 20px;
	margin-right: 20px;
}

.logo>img {
	height: 40px;
}

.topside-1 {
	order: 1;
	padding-left: 10px;
	padding-right: 10px;
}
.topside-2 {
	order: 2;
	margin-right: auto;
}
/*top-profile*/
.topside-3{
	order: 3;
	position : relative;
	
}
.topprofile{
	display: block;
	overflow: hidden;
	min-width: 40px;
	max-width: 40px;
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid #ebebeb;
	border-radius: 50%;
}
.topprofile> img{
	width: inherit;
}
.top-dropmenu{/*÷�ι�ư Ŭ���� �ߴ� â*/
  position: absolute;
  top: 100%;
  left: -10%;
  z-index: 100;
  width: 130px;
  padding: 10px 15px;
  color: #5a5a5a;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 2px 2px;
}
.top-dropmenu>div{
	padding: 4px;
}
/*top-profile*/
.topside-4{
	order: 4;
	display: inline-block;
	color: #fff;
	font-family: "Nato Sans";
	font-weight: 700;
	padding-left: 10px;
	padding-right: 30px;
}
.topside-5{
	order: 5;
	width: 30px; 
}
.topside-6{
	order: 6;
	width: 30px; 
}
.topside-7{
	order: 7;
	width: 30px; 
}

.topside-1>.select {
	background-color: white;
	text-align: center;
	height: 30px;
	width: 150px;
	border-radius: 10px;
}

.select ul {
	text-align: left;
	list-style-type: none;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1000;
}

.leftsidebar {
	font-family: "Nanum Gothic";
	font-weight: 400;
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 70px;
	left: 0;
	background-color: #f5f5f5;
	overflow-x: hidden;
	overflow-y: hidden;
	font-weight: 400;
}

.leftsidebar hr {
	border-top: 2px solid #c0c0c0;
}

.myprofile {
	padding: 3px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
}

.leftside-1>div {
	display: block;
	overflow: hidden;
	width: 10px;
	height: 10px;
	background-color: #0e7af1;
	border: 2px solid #ebebeb;
	border-radius: 50%;
	z-index: 9;
}

.leftside-1>div>img {
	width: inherit;
}

.leftside-1 {
	padding-left: 14px;
	padding-right: 4px;
	order: 1;
}

.leftside-2 {
	order: 2;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 5px;
}

.leftside-project {
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 14px;
	text-align: center;
}

.leftside-share {
	background: #eeeeee;
	font-family: 'NotoSansKR';
	font-weight: 500;
	font-size: 16px;
	padding-left: 1px;
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-left: 7px;
	margin-bottom: 4px;
	cursor: pointer;
}

.leftside-share>img {
	padding: 7px;
	padding-left: 0px;
	padding-right: 5px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	margin-left: 4px;
}

.leftside-share:hover {
	background: #cfcfcf;
}

.labels {
	margin-top: -25px;
	margin-bottom: 8px;
	display: inline;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.labels>div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #3c3c3c;
	background-color: #2980b9;
	margin-bottom: 5px;
	color: white;
	
}

.labels>div>div:hover {
	transform: scale(1.1, 1.1);
}

#plus { /*�뜝�룞�삕�뜝�룞�삕 �뜝�룞�삕 泥ⓨ뜝�떥諭꾩삕�듉*/
	margin: 5px;
	display: inline-flex;
	height: 13px;
	width: 13px;
	line-height: 100%;
	border-radius: 10px;
	background-color: white;
	position: relative;
	margin: 5px;
}

#plus::after { /*+�뜝�룞�삕*/
	content: " ";
	position: absolute;
	display: block;
	background-color: #3c3c3c;
	height: 12%;
	top: 44%;
	left: 15%;
	right: 15%;
	z-index: 9;
}

#plus::before { /*+�뜝�룞�삕*/
	content: " ";
	position: absolute;
	display: block;
	background-color: #3c3c3c;
	width: 12%;
	left: 44%;
	top: 15%;
	bottom: 15%;
	z-index: 9;
}

.channel_wrapper {
	overflow-y: auto;
	max-height: 140px;
}

.member_wrapper {
	overflow-y: auto;
	max-height: 30%;
}

.channel, .member {
	font-family: "NotoSansKR";
	weight: 500;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.leftsidebar a {
	padding: 1px;
	font-size: 15px;
	color: #000000;
	display: block;
}

.leftsidebar a:hover {
	color: #2980b9;
}
/*--sidebars adjustment*/

/*content: main adjustment*/
.inside-wrapper{
    margin-left:180px;
    display: flex;
    height: 100%;
}
.maincontent{
    margin-right:0;
    display: flex;
    width:100%;
    flex-direction: column;
    order:1;
}
/*--content: main adjustment*/
/*content: right sidebar adjustment*/
.thread-margin{
    order:2;
    margin-top: 90px;
    border-left: 2px dotted #004080;
}
.thread-wrapper {
    padding-left:30px;
    flex-direction: column;
    height:100%;
    min-width: 750px;
    padding-top: 0px;
    overflow-y: scroll;
}
.thread-board{
    display: flex;
    font-size: 14px;
    background-color: #D9E5FF;
    width: inherit;
    padding: 5px;
    
}
.profile-pic{
    order: 1;
    display: block;
    overflow: hidden;
    min-width: 40px;
    max-width: 40px;
    width:40px;
    height: 40px;
    background-color: white;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    z-index: 9;
}
.profile-pic>img{
    width: inherit;
}
/*content: right sidebar adjustment*/

/*�Խ��� css*/
table.board-table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    margin-top:130px;
    margin-left:80px;
}
table.board-table thead th {
    padding: 10px;

    font-weight: bold;
    color: #464646;
    border-bottom: 3px solid #464646;
}
table.board-table tbody th {  
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
}
table.board-table td {
    font-weight: bold;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.board-table tfoot{
    text-align: right;
}
#clip_img{
    width:18px;
}
.board-btn{
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    background-color: #f2f2f2;    
    height: 30px;    
    
}
.board-btn2{
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    background-color: #2980b9;
    height: 30px;
    color: white;
}
#detail_username, #detail_btitle, #detail_bcontent, #detail_date, #search_input{
    border-radius: 4px;
    border: 1px dotted #c8c8c8;
    font-size:15px;
    
}
#detail_username, #detail_btitle, #detail_date{
    height: 25px;
}
#board_thread-insertbtn{
   visibility:hidden;
}
#board-thread table tr th{
    vertical-align: top;
}
#binfile{
    position: relative;
}
#detail_file{
    margin-left: 3px;
    margin-top: 2px;
}
.filecover{
    pointer-events: none;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    background-color: #2980b9;    
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 10pt;
}
.list_title{
	color : #000000;
}
/*-�Խ���css*/




#board-thread-insertbtn{
    visibility:hidden;
}
/*����¡��ưcss*/
.paging .hide {display:block;margin:0;padding:0;overflow:hidden;}
.paging{padding:19px;text-align:center;}
.paging a{display:inline-block;width:23px;height:23px;padding-top:2px;vertical-align:middle;color:gray;}
.paging a:hover{text-decoration:underline;}
.paging .btn_arr{text-decoration:none;}
.paging .btn_arr:hover{text-decoration:none;}
.paging .on{margin:0 3px;padding-top:0;border:1px solid #ddd; border-radius:30px; color:gray;}
.paging .on{padding-top:1px;height:22px;color:#fff;font-weight:bold;background:#000;}
.paging .on:hover{text-decoration:none;}
.search{
    text-align:center;
}
/*-����¡��ưcss*/